body {
  background-color: #354649;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.app {
  margin: 10px auto 10px auto;
  width: 60%;
  height: calc(100vh - 20px);
  border: 2px solid #354649;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background-image: linear-gradient(yellow, red);
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.app::-webkit-scrollbar {
  width: 0 !important;
}

input {
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  width: 37%;
  min-width: 140px;
  height: 25px;
  font-size: 1.5vmin;
  padding: 5px;
}

h1 {
  font-size: 6.5vmin;
  color: #fff;
}

p {
  font-size: 2.5vmin;
}

button {
  color: #e0e7e9;
}

.buttonAdd {
  border-radius: 10px;
  height: 35px;
  width: 60px;
  background-color: #6c7a89;
}
